.Footer {
  background: transparent;
  padding: 20px 0;

  .footer {
    
    a {
      color: rgb(221, 126, 68);
      padding: 0;
      text-decoration: none;

      .iconsLinks {
        font-size: 25px;
        margin: 0 20px;
      }
    }
  }
}