.HomePage {
  background: rgb(38, 40, 86);
  
  h1 {
    color: rgb(221, 126, 68);
    padding: 80px 0;
  }

  .homePage {
    min-height: 700px;

  .linkCol {
    justify-content: center;
    align-items: center;
    display: flex;

    .linkBtn {
      text-decoration: none;

      p {
        width: 500px;
        height: 60px;
        border-radius: 5px;
        border: none;
        background: rgb(219, 124, 71);
        margin-bottom: 30px;
        color: rgb(38, 40, 86);
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: bold;
        font-size: 20px;

        @media (max-width: 576px) {
          width: 300px;
          height: 40px;
        }

        &:hover {
          box-shadow: 10px 10px 5px 0px rgba(22, 22, 22, 0.75);
        }
      }
    }
  }
}
}