.HomePage {
  background: rgb(38, 40, 86);

  h1 {
    color: rgb(221, 126, 68);
    padding: 80px 0;
  }

  .homePage {
    padding-bottom: 80px;

    .row {
      padding: 80px 0;
      background: rgba(255, 255, 255, 0.13);
      border-radius: 10px;
      margin: 0 15px;


      .illustration {
        width: 70%;
        height: auto;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto 40px;
      }

      .linkCol {
        align-items: center;
        justify-content: center;
        display: flex;

        .linkBtn {
          text-decoration: none;

          p {
            padding: 15px 40px;
            border-radius: 5px;
            border: none;
            background: rgb(219, 124, 71);
            color: rgb(38, 40, 86);
            font-weight: bold;
            font-size: 20px;
            margin: 0;
            width: 290px;

            &:hover {
              box-shadow: 2px 2px 0px 0px rgba(255, 255, 255, 0.75);
            }
          }
        }
      }

    }

    // reverse col in mobile devices
    @media screen and (max-width: 576px) {
      .reversedCol {
        display: flex;
        flex-flow: column;
      }

      #two {
        order: -1;
      }
    }
  }
}